:root {
  --color-dark-grey: #252525;
  --color-medium-grey: #565656;
  --color-light-grey: #e3e3e3;
  --color-yelow: #faaf00;
  --color-map-red: #c64142;
  --color-green: #4cad73;
  --color-dark-blue: #0072bb;
  --color-blue-mui: #1975d1;
  --color-light-blue: #1e91d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
}
.page {
  min-height: 85vh;
  padding-bottom: 2rem;
}
.page-header {
  margin-bottom: 1.2rem;
}
.page-section {
  margin-bottom: 2rem;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}
.col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.button-main {
  width: fit-content;
  margin-top: 1rem;
}

@media only screen and (max-width: 850px) {
  .row.page-section {
    flex-direction: column;
  }
  .row.page-section#Carousel {
    flex-direction: row;
  }
  .CheckedIn {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .Hero-text h1 {
    font-size: 2rem;
  }
  .Hero-text h3 {
    font-size: 1rem;
  }
  .Hero-text h2 {
    font-size: 1.2rem;
  }
  .Hero-text {
    width: 80%;
  }
  .User-info {
    flex-direction: column;
  }
  .User-favorites {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 650px) {
  .Footer {
    line-height: 2;
  }
}
@media only screen and (max-width: 500px) {
  .Park-detailes {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .additional-container,
  .CheckedIn {
    margin-left: 1rem;
  }
  .list {
    margin-left: 2rem;
  }
  #hideOnSmall {
    display: none;
  }
  #showOnSmall {
    display: block;
  }
  #checkin-button {
    width: fit-content;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .Footer {
    padding: 1.8rem;
  }
  #Nav-search {
    width: 50%;
  }
  #showOnSmall {
    display: none;
  }
  .page-header {
    text-align: center;
  }
  div.row.User-info {
    align-items: center;
  }
  /* .User-favorites {
  } */
  div.row.User-info {
    justify-content: center;
  }
}
@media only screen and (max-width: 320px) {
  .Hero-text {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  img.MapMini {
    width: 250px;
    height: 250px;
  }
}
