body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-dark-grey: #252525;
  --color-map-red: #c64142;
  --color-green: #4cad73;
  --color-pale-green: #cad49d;
  --color-dark-blue: #0072bb;
  --color-blue-mui: #1975d1;
  --color-light-blue: #1e91d6;
  --color-sand: #e1d89f;
  --color-yelow: #faaf00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

a.Nav-link {
  color: white;
  text-decoration: none;
}

.page {
  min-height: 85vh;
  padding-bottom: 2rem;
}
.page-header {
  margin-bottom: 1rem;
}
.page-section {
  margin-bottom: 2rem;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}
.col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
