@import "./global.scss";

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 40px;
  }
}

.content {
  display: flex;
  margin-top: 65px;
  padding-top: 40px;
  width: 90%;

  @include ninehundred {
    flex-direction: column;
  }
}

.row-container {
  display: flex;
  margin-top: 65px;
  padding-top: 40px;
  width: 90%;

  @include tablet {
    flex-direction: column;
    height: fit-content;
    padding-bottom: 40px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  flex: 8;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 4;

  @include ninehundred {
    margin-top: 50px;
  }
}

.header {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 28px;
}

.left-page-container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online-icon {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: hsla(132, 79%, 68%, 1);
  margin-right: 0.5rem;
  background: linear-gradient(
    270deg,
    hsla(132, 79%, 68%, 1) 0%,
    hsla(101, 62%, 48%, 1) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(132, 79%, 68%, 1) 0%,
    hsla(101, 62%, 48%, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(132, 79%, 68%, 1) 0%,
    hsla(101, 62%, 48%, 1) 100%
  );
}
.checkedin-lastseen {
  color: $blueVioletColor;
  font-size: 0.85rem;
  margin: 0.2rem 0 1rem 1rem;
}
