@import "../../global.scss";

.favorites-modal {
  ul {
    width: 100%;
    li {
      display: flex;
      justify-content: space-between;

      .red {
        color: $redColor;
      }
    }
  }
}
