.User-favorites {
  background: rgb(245, 245, 245);
  border: 1px solid var(--color-light-grey);
  border-radius: 1rem;
  padding: 1rem;
  height: 400px;
  min-width: 300px;
}
.User-personal {
  margin-right: 2rem;
}
