@import "../../global.scss";

.checked-in {
  .page-header {
    margin-bottom: 1.2rem;
  }
  div {
    ul {
      li {
        display: flex;
        flex-direction: column;
        list-style: none;

        div {
          div {
            display: flex;
            align-items: center;

            .online-icon {
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 50%;
              background: hsla(132, 79%, 68%, 1);
              margin-right: 0.5rem;
              background: linear-gradient(
                270deg,
                hsla(132, 79%, 68%, 1) 0%,
                hsla(101, 62%, 48%, 1) 100%
              );
              background: -moz-linear-gradient(
                270deg,
                hsla(132, 79%, 68%, 1) 0%,
                hsla(101, 62%, 48%, 1) 100%
              );
              background: -webkit-linear-gradient(
                270deg,
                hsla(132, 79%, 68%, 1) 0%,
                hsla(101, 62%, 48%, 1) 100%
              );
            }
          }
          .checkedin-lastseen {
            color: $blueVioletColor;
            font-size: 0.85rem;
            margin: 0.2rem 0 1rem 1rem;
          }
        }
      }
    }
  }
}
