@import "../../global.scss";

.park-info {
  div {
    display: flex;

    @include fivefifty {
      flex-direction: column;
      width: fit-content;
    }

    .additional-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 15px;
      max-height: 300px;

      @include fivefifty {
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
      }
      @include fourhundred {
        width: 250px;
      }

      div {
        display: flex;
        flex-direction: column;

        .rating {
          display: flex;
          flex-direction: row;
        }
      }
      .red-button {
        background: $redColor;

        @include fivefifty {
          align-self: center;
        }
      }
    }
  }
}
