.Hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-green);
  margin-bottom: 2rem;
  min-height: 400px;
}
.Hero-text {
  color: white;
}

.Hero-text h2 {
  font-weight: 500;
}
.Hero-text h1 {
  font-size: 4rem;
}
.Hero-text h3 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.35rem;
}
