.Map-container {
  width: 90vw;
  max-height: 600px;
  height: 50vh;
  margin: 50px;
}

.cluster-marker {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--color-map-red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-icon {
  color: var(--color-map-red);
  cursor: pointer;
}

.marker-button {
  background: none;
  border: none;
  cursor: pointer;
}
.popup-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 1rem;
}
.mapboxgl-popup-close-button {
  font-size: 1.5rem;
}
