.Search-container {
  background: #fff;
}

.Search-dropdown {
  list-style: none;
  color: #464646;
  border: 1px solid var(--color-dark-grey);
  border-radius: 2px;
  background-color: #fff;
  margin-right: 1.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 205px;
  max-height: 150px;
  z-index: 15;
  overflow: scroll;
  position: absolute;
  outline: none;
  transform: translateY(2.5rem);
}
.Search-dropdown li {
  margin-bottom: 0.5rem;
}

#Home-search {
  margin: 0 auto;
  width: 50vw;
  margin-bottom: 1rem;
}
