@import "../../global.scss";

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: column;
  }

  .hero-container {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: space-between;
    justify-content: space-between;

    @include tablet {
      width: 80%;
    }

    .hero-left {
      flex: 5;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      @include tablet {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
      }

      .text-container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > * {
          margin-bottom: 15px;

          @include mobile {
            margin-bottom: 30px;
          }
          @include tablet {
            margin-top: 20px;
          }
        }

        h1 {
          font-family: "Abril Fatface", sans-serif;
          font-size: 50px;
          color: $darkGreyColor;

          @include fourhundred {
            font-size: 35px;
          }
        }
        h2 {
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          font-weight: 400;

          @include fourhundred {
            font-size: 18px;
          }
        }
        h4 {
          align-self: flex-end;
          font-weight: 500;
        }
      }

      .button-main {
        margin-top: 40px;
        background: $blueVioletColor;

        @include tablet {
          margin-right: 10px;
          align-self: flex-end;
        }
      }
    }

    .hero-right {
      flex: 7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      @include tablet {
        display: none;
      }

      .img-container {
        width: 90%;
        z-index: 2;
        padding: 50px 0;

        img {
          width: 100%;
        }
      }
    }
  }
  .bottom-container {
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    @include tablet {
      transform: translateY(-50px);
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        img {
          width: 25px;
          animation: arrowBlink 2s infinite;
          opacity: 0.9;
        }
      }
      div {
        font-size: 10px;
      }
    }
    @keyframes arrowBlink {
      100% {
        opacity: 0.6;
      }
    }
  }
}
