@import "../../global.scss";

.search-container {
  background: #fff;
  position: relative;
}
.search-dropdown {
  top: 40px;
  left: 2px;
  list-style: none;
  color: #464646;
  border: 1px solid var(--color-light-grey);
  border-radius: 2px;
  background-color: #fff;
  margin-right: 1.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  min-width: 180px;
  width: 223px;
  max-height: 300px;
  z-index: 15;
  overflow: scroll;
  position: absolute;
  outline: none;

  li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    padding: 5px;
    &:hover {
      background: $lightGreyColor;
    }
  }
}
